@import "bootstrap/scss/bootstrap";
//colori
$giallo: #e9f450;
$blue: #011532;
$azzurro: #5584bf;
$bianco: white;
$viola: rgb(73, 10, 59);
$orange: orange;
$black: black;
//body
body{
    font-family:sans-serif;
    background-color: $orange;
    color: $bianco;
    
}